<h3>{{ pet?.id ? 'Update pet: ' + pet?.name : 'Create pet'}}</h3>
<hr>
<div class="content">
    <div class="json">
        <h4>Pet:</h4>
        <pre>{{ pet | json}}</pre>
        <hr>
        <h5>Pet Form value</h5>
        <pre>{{ petForm.value | json}}</pre>
        <h5>Pet Form status</h5>
        <pre>{{ petForm.status}}</pre>
        <h5>Pet Form touched</h5>
        <pre>{{ petForm.touched}}</pre>
        <h5>Pet Form pristine</h5>
        <pre>{{ petForm.pristine}}</pre>
    </div>
    <div class="form-content">
        <form name="petForm" novalidate #petForm="ngForm" role="form">
            <div class="field" *ngIf="pet?.id">
                <label for="pet-id">Pet id *</label>
                <input type="number" id="pet-id" name="id" [(ngModel)]="pet.id" #id="ngModel" placeholder="Enter Pet id"
                    [disabled]="pet?.id" required>
                <div *ngIf="id.invalid && (id.dirty || id.touched)" class="field-error">
                    <ul>
                        <li *ngFor="let error of id.errors | keyvalue">Id error: {{ error.key }} is {{ error.value }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <label for="pet-name">Pet name *</label>
                <input type="text" id="pet-name" name="name" maxlength="20" [(ngModel)]="pet.name" #name="ngModel"
                    placeholder="Enter Pet name" required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="field-error">
                    <ul>
                        <li *ngFor="let error of name.errors | keyvalue">Name error: {{ error.key }} is {{ error.value
                            }}</li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <label for="pet-type">Pet type *</label>
                <select name="type" id="pet-type" [(ngModel)]="pet.petType" #petType="ngModel" required>
                    <option [value]="null"></option>
                    <option *ngFor="let petType of petTypes" [value]="petType">{{ petType }}</option>
                </select>
                <div *ngIf="petType.invalid && (petType.dirty || petType.touched)" class="field-error">
                    <ul>
                        <li *ngFor="let error of petType.errors | keyvalue">Name error: {{ error.key }} is {{
                            error.value }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <label for="pet-age">Pet age *</label>
                <input type="number" id="pet-age" name="age" min="2" max="10" [(ngModel)]="pet.age" #age="ngModel"
                    placeholder="Enter Pet age" required>
                <div *ngIf="age.invalid && (age.dirty || age.touched)" class="field-error">
                    <ul>
                        <li *ngFor="let error of age.errors | keyvalue">Age error: {{ error.key }} is {{ error.value }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <label for="pet-image">Pet image *</label>
                <input type="text" id="pet-image" name="image" [(ngModel)]="pet.imageUrl" #image="ngModel"
                    placeholder="Enter Pet image url" required>
                <div *ngIf="image.invalid && (image.dirty || image.touched)" class="field-error">
                    <ul>
                        <li *ngFor="let error of image.errors | keyvalue">Image error: {{ error.key }} is {{ error.value
                            }}</li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <label for="pet-registered-date">Pet registered date</label>
                <input type="date" id="pet-registered-date" name="registeredDate"
                    [ngModel]="pet?.registeredDate | date:'yyyy-MM-dd'" (ngModelChange)="pet.registeredDate = $event"
                    placeholder="Enter Pet registerd date" #registeredDate="ngModel" required>
                <div *ngIf="registeredDate.invalid && (registeredDate.dirty || registeredDate.touched)"
                    class="field-error">
                    <ul>
                        <li *ngFor="let error of registeredDate.errors | keyvalue">Registered date error: {{ error.key
                            }} is {{
                            error.value }}</li>
                    </ul>
                </div>
            </div>
            <div class="field">
                <label for="pet-health-passport">Pet health passport </label>
                <input type="file" id="pet-health-passport" name="healthPassport"  [(ngModel)]="pet.healthPassport" #healthPassport="ngModel"
                    placeholder="Select file"  (change)="onFileSelected($event.target.files)">
                <div *ngIf="healthPassport.invalid && (healthPassport.dirty || healthPassport.touched)" class="field-error">
                    <ul>
                        <li *ngFor="let error of healthPassport.errors | keyvalue">HealthPassport error: {{ error.key }} is {{ error.value }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-action">
                <button *ngIf="!pet?.id" (click)="save(pet)" [disabled]="!petForm.valid">Create new Pet</button>
                <button *ngIf="pet?.id" (click)="update(pet)" [disabled]="!petForm.valid">Update Pet</button>
                <button (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>