div.pet-list {
  display: flex;
  flex-wrap: wrap;
}

#selected-pet {
  padding: 5px 10px;
}

#selected-pet .no-selected {
  padding: 20px 80px;
  background-color: lightgrey;
  opacity: 0.4;
  text-align: center;
  text-transform: uppercase;
}

#selected-pet img {
  width: 120px;
  height: 120px;
}

.action-bar {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px;
  padding: 10px;
}

.list-loader {
  text-align: center;
}

button.delete {
  background-color: red;
  color: white;
}
