<h3>Liste des pets</h3>
<ng-container *ngIf="isListLoading">
    <div class="list-loader">
        <h4>List is loading....</h4>
    </div>
</ng-container>
<ng-container *ngIf="!isListLoading">
    <div class="pet-list">
        <pet-card *ngFor="let pet of pets" [pet]="pet" [routerLink]="[pet.id]"></pet-card>
    </div>
    <div class="action-bar">
        <button (click)="refreshList()" [hover] hoverDefaultColor="grey">Refresh list</button>
        <button (click)="addPet()" [hover]="'green'">Ajouter un Pet</button>
        <button class="delete" *ngIf="selectedPet != null" (click)="deletePet(selectedPet?.name)">Delete Selected
            Pet</button>
    </div>
    <hr>
    <section class="" id="selected-pet">
        <router-outlet>
            <h3>Select a Pet to display pet card</h3>
        </router-outlet>
    </section>
</ng-container>