<div class="pet-card" (click)="selectPet(pet)" [ngClass]="{'selected': selected }" [hover] hoverDefaultColor="grey">
    <div class="pet-image">
        <img class="pet-img" [src]="pet?.imageUrl" alt="">
    </div>
    <div class="pet-details">
        <h4>{{ pet?.name}} </h4>
        <p>{{ pet?.age | petAge}} </p>
        <p><small> {{ pet?.registeredDate | date }} </small></p>
        <div class="action">
            <a [routerLink]="['edit',pet?.id]">Edit</a>
            <a [routerLink]="['detail',pet?.id]">Detail</a>
            <a (click)="deletePet(pet?.id)">Delete</a>
        </div>
    </div>
</div>