<div>
  <h2 id="page-heading" data-cy="PetHeading">
    <span jhiTranslate="springbootjwtbackendApp.pet.home.title">Pets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="springbootjwtbackendApp.pet.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pet"
        [routerLink]="['/pet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="springbootjwtbackendApp.pet.home.createLabel"> Create a new Pet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pets?.length === 0">
    <span jhiTranslate="springbootjwtbackendApp.pet.home.notFound">No pets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pets && pets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="springbootjwtbackendApp.pet.name">Name</span></th>
          <th scope="col"><span jhiTranslate="springbootjwtbackendApp.pet.age">Age</span></th>
          <th scope="col"><span jhiTranslate="springbootjwtbackendApp.pet.imageUrl">Image Url</span></th>
          <th scope="col"><span jhiTranslate="springbootjwtbackendApp.pet.registeredDate">Registered Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of pets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pet', pet.id, 'view']">{{ pet.id }}</a>
          </td>
          <td>{{ pet.name }}</td>
          <td>{{ pet.age }}</td>
          <td>{{ pet.imageUrl }}</td>
          <td>{{ pet.registeredDate | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pet', pet.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pet', pet.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
