nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: coral;
    color: #efefef;
    min-height: 60px;
}
.brand, .actions, .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
}

.actions {
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.actions a{
    margin: 0px 10px;
}